# ignore the data files which are in .sql

data/*.sql

# ignore the file where i kept my db credentials

env_vars.txt

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class